@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p></a>Browse all kinds of drinks, add your own favourites and please enjoy responsibly.</p>
</div>
