@page
@model PrivacyModel
@{
    ViewData["Title"] = "About this Site";
}
<h1>@ViewData["Title"]</h1>
<style>
    body{
        background-color: ivory; 
        font-family: initial;
    }
</style>

<p>Created in the interest of sharing delicious drink recipes, and at the suggestion of <a href="https://www.twitch.tv/repitos14">Leon Krex</a>.</p>

<img src="~/cocktail2.jpg", width="833", height="608"/>

<p></p>
<p></a> Built by <a href = https://github.com/adrrwilson/Drinks >Adrian Wilson</a> using a Cocktail list provided by <a href = https://github.com/teijo/iba-cocktails> Teijo Lane.</a> </p>
