@page
@model PrivacyModel
@{
    ViewData["Title"] = "About this Site";
}
<h1>@ViewData["Title"]</h1>

<p>Created in the interest of sharing delicious drink recipes, and at the suggestion of <a href="https://www.twitch.tv/repitos14">Leon Krex</a>.</p>
